{% extends "layout.html" %}

{% block meta %}
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/illusts.css') }}">
{% endblock %}

{% block body %}
<div id=content>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
</div>

<div id=illusts_canvas>
{% for illust in illusts %}
  <div class="illust_wrap wrap_{{ loop.cycle('odd', 'even') }}">
    <span class=illust_img>
      <a href={{ illust.image_urls.medium }} target="abort"><img class=thumbnail src={{ illust.image_urls.square_medium }}></a>
    </span>
    <span class=illust_meta>
      id={{ illust.id }} {{ illust.title }}
      , {{ "(b=%d, v=%d, c=%d)" | format(illust.total_bookmarks, illust.total_view, illust.total_comments) }} bv_rate={{ "%.2f%%" | format( illust.bookmark_rate*100 ) }}
      <br>
      {{ illust.tags | join(";") }}
    </span>
  </div>
{% endfor %}
</div>
{% endblock %}